/* mensaje de bienvenida */

.fondo_oscuro{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    position: fixed;
    z-index: 1000;

}

.Banner_bienvenida{
    width: 70%;
    height: 50%;
    border-radius: 10px;
    background-color: yellow;
    margin: auto;
    position: relative; top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Banner_bienvenida h4{
    font-size: 2.5em;
    margin-bottom: 70px;
}

.Banner_bienvenida form{
    display: flex;
    flex-direction: column;
}

.Banner_bienvenida div{
    display: flex;
    flex-direction: column;
}

.Banner_bienvenida div input{
    margin-bottom: 15px;
}

.Banner_bienvenida form p{
    font-size: 1.4em;
}

.Banner_bienvenida form input{
    margin-bottom: 15px;
}

.Banner_bienvenida form button{
    margin: 15px 0 10px 0;
}

.inputs-bienvenida{
    display: flex;
    flex-direction: column;
}

.inputs-bienvenida label{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.inputs-bienvenida input{
    margin-right: 30px;
    margin-left: 10px;
}

.inputs-bienvenida div{
    margin-bottom: 20px;
}

#btn_iniciar{
    font-size: 1em;
    border: none;
    background-color: rgb(236, 10, 10);
    border-radius:  0.375rem;
    color: white;
}

#btn_registrar{
    font-size: 1em;
    border: none;
    background-color: rgb(236, 10, 10);
    border-radius: 0.375rem;
    color: white;
}

/* mensaje de biendvenida */


header{
    background-color: hwb(0 0% 100% / 0.233);
    position: fixed;
    z-index: 6;
    transition: .3s  all;
}

header:hover{
    background-color: hwb(0 0% 100% / 0.63) ;
    transition: .3s  all;
}

h4,p{
    color: black;
}

.logo{
    width: 70px;
    height: 80px;
}

.lista_header li{
    width: 300px;
    list-style: none;
    color: white;
    transition: ease .3s  all;
    
}

.lista_header li:hover{
    cursor: pointer;
    color: rgb(219, 155, 17);
}

.carrito{
    margin-top: 15px;
    margin-right: 30px;
    font-size: 2em;
    color: white;
    transition: ease .3s  all;
}

.carrito:hover{
    cursor: pointer;
    color: rgb(219, 155, 17);
}

.logo{
    margin-left: 20px;
}

/* .Banner_bienvenida{
    width: 60%;
    height: 600px;
    border-radius: 10px;
    background-color: yellow;
    margin: auto;
    position: relative; top: -750px;
    z-index: 5;
} */

.banner{
    height: 800px;
    z-index: 2;
}

.banner img{
    width: 100%;
    height: 800px;
}

body{
    background-color: rgb(87, 87, 87);
}

.fondo_oscuro{
    width: 100%vw;
    height: 100%vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 99;
}

.container_productos{
    height: auto;
    width: 70%;
    /* margin: auto; */
    /* margin-top: 40px; */
    background-color: white;
    /* border-radius: 10px 10px 0 0; */
    z-index: 5;
}
.carta_producto{
    margin-bottom: 100px;
    z-index: 4;
}

.carta_producto h4{
    margin-top: 20px;
}
.row{
    margin-right: 0;
}

.carta_producto img{
    height: 450px;
    border-radius: 10px;
    margin-top: 40px;
    
}

span{
    display: block;
    margin-bottom: 10px;
}

.estampa img{
    position: relative; top: -2200px; right: 425px;
    width: 400px;
    border-radius: 10px;
    z-index: 1;
}

.seccion_carrito{
    width: 20%;
    height: 700px;
    margin-left: 90px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgb(216, 213, 25);
    z-index: 5;
    display: none;
    flex-direction: column;
}

.seccion_carrito h4{
    font-size: 2em;
    margin: 20px 0 20px 30px;

}

.detalles_carrito{
    width: 100%;
}

table{
    /* display: flex; */
    justify-content: space-between;
    text-align: center;
}
.thead {
    width: 100%;
}

td img{
    width: 60px;
}
