*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(47, 167, 214);
    height: 350px;
}

p{
    font-size: 1.2em;
    margin-bottom: .5em;
}

.cont-parametros{
    margin-top: 50px;
}

.cont-kg{
    margin-top: 15px;
}

input{
    width: 140px;
}

.btnn{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    transition: ease all .5s ;
}

.btnn:hover{
    background-color: black;
    color: white;

}
